.idea
.vscode
.vs
*/DS_Store
*/Thumbs.db
*/ehthumbs.db
*/ehthumbs_vista.db
*/Desktop.ini
*/Icon?
*/$RECYCLE.BIN/
*/@eaDir
*/@Recycle
*/@__thumb
*/@__index
*/@__lock
*/@__lock_vista
*/@__lock_vista_vista
*/@__lock_vista_vista_vista
.DS_Store
